/* styles.css */
body {
    margin: 0px 20px;
    padding: 0;
    background-color: #fff;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
}

.navbar-logo img {
    width: 100px;
    height: auto;
}
.navbar-logo h1{
    border-radius: 4px;
    color: black;
    padding: 7px;
    margin: 7px;
    
    font-weight: 700;
    font-size: 32px;
}

.navbar-buttons button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
}

.navbar-buttons button:hover {
    opacity: 0.8;
}

header {
    margin-top: 0px;
    color: #fff;
    text-align: center;
    padding: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header img{
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
    height: 31rem;
    width: 100%;
}
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.7); */
    padding: 10px 20px;
    border-radius: 5px;
}
.users{
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.a, .b{
    background-color: rgba(0, 0, 0);
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    width: 20rem;
    border-radius: 8px;
}
.models{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
}
.models a{
    text-decoration: none;
}
.models h1{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: normal;
    margin: 10px 0px;
}
.models p{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    margin: 15px 0px;
}
.home{
    text-decoration: none;
    text-underline-offset: none;
    margin: 10px;
    font-family: monospace;
    font-weight: 100;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.home:hover{
    opacity: 0.9;
    cursor: pointer;
}

.footer{
    height: 25rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.git{ 
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.linked{ 
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}
.footer p{
    font-family: monospace;
    color: white;
}


.projects{
    height: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project{
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    justify-content: space-between;
}
.projects h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: normal;
    margin: 30px 0px;
}
.pr-1, .pr-2, .pr-3{
    font-family: monospace;
    /* border: 5px solid black; */
    margin: 5px;
    height: 20rem;
    /* width: 20rem; */
    background-color: mintcream;
    text-align: center;
    border-radius: 20px;
}
.pri-1{
    border-radius: 20px;
}
.footer p{
    font-family: monospace;
    color: white;
}.footer p{
    font-family: monospace;
    color: white;
}
.projects-hover:hover{
    cursor: pointer;
    opacity: 0.9;
    /* position: initial; */
}
.projects-hover:active{
    opacity: 1;
}
.projects-hover a{
    text-decoration: none;
    font-style: normal;
}
.p{
    font-family: monospace;
    font-size: larger;
    
}
.projects-hover a p{
    color: black;
    font-family: monospace;
    font-weight: 400;
    font-size: x-large;
}
