<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataProphet.com</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/home.js"></script>
</head>

<body id="m">
    <nav class="navbar">
        <div class="navbar-logo">
            <!-- <img src="dataprophet-logo.png" alt="DataProphet Logo">-->
            <h1>Dataprophet</h1>
        </div>
        <div class="navbar-buttons">
            <button class="login-button">Login</button>
            <button class="dashboard-button">Dashboard</button>
        </div>
    </nav>
    <header>
        <img src="../static/images/triangles-1430105_1920.png" alt="Triangles image" srcset="" class="imgg">
        <div class="centered-text">
            <h1>DataProphet</h1>
            <p>Revolutionizing AI in Business</p>
        </div>
    </header>
    <div class="users">
        <div class="a">
            <h2>Users</h2>
            <h3>0</h3>
        </div>
        <div class="b">
            <h2>Likes</h2>
            <h3>0</h3>
        </div>
    </div>
    <div class="models">
        <h1 class="text">Create Your Model</h1>
        <p class="texts">Do you want to create models with Dataprophet</p>
        <a><span id="home" class="home">Try for free</span></a>
        <!-- <a><span id="home" class="home">Try for free</span></a> -->

    </div>

    <div class="projects">
        <h1>Select Your Problem:</h1>
        <div class="project">
            <div class="pr-1 projects-hover">
                <img src="../static/images/user.png" alt="" class="pri-1">
                <a href="problems.html">
                    <p class="p">Regression</p>
                </a>
            </div>
            <div class="pr-2 projects-hover">
                <img src="../static/images/user.png" alt="" class="pri-1">
                <a href="//problems.html">
                    <p class="p">Classification</p>
                </a>
            </div>
            <div class="pr-3 projects-hover">
                <img src="../static/images/user.png" alt="" class="pri-1">
                <a href="problems.html">
                    <p class="p">Clustering</p>
                </a>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="icons">
            <a href="https://github.com/Hitesh1-AI"><img class='git' src="../static/images/github.png" alt="Github logo"></a>
            <img class='linked' src="../static/images/linkedin-logo.png" alt="linkedIn logo">
        </div>
        <p>All rights reserved</p>
    </div>
</body>

</html>